<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- 下面内容为WCF配置内容 -->
  <system.serviceModel>
    <!-- services节点包含应用中主流的所有service的配置要求 -->
    <services>
      <service behaviorConfiguration="mytools.Service1Behavior" name="mytools.MytoolsServices">
        <endpoint address="" binding="wsHttpBinding" contract="mytools.IMytoolsServices">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8888/WCFService/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <!-- 定义service和Endpoint行为 -->
    <behaviors>
      <serviceBehaviors>
        <behavior name="mytools.Service1Behavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <!--定义客户端的配置-->
    <client>
    <!--**************************************-->
    </client>
  </system.serviceModel>
  <!--数据库连接字串-->
  <connectionStrings>
    <!--add name="db2ConnString" connectionString="Server=111.160.1.60:50000;Database=ISSUE;UserID=db2inst2;Password=Test1234;Connection Lifetime=0;Max Pool Size=100;Min Pool Size=10" /-->
    <add name="db2ConnString" connectionString="Server=192.168.1.80:50000;Database=ISSUE;UserID=db2inst2;Password=Test1234;Connection Lifetime=0;Max Pool Size=100;Min Pool Size=10" />
    <!--<add name="db2ConnString" connectionString="Server=192.168.1.35:50000;Database=ISSUE;UserID=db2inst1;Password=Test1234;Connection Lifetime=0;Max Pool Size=100;Min Pool Size=10" />-->
    <add name="sqlServerConnString" connectionString="SERVER=192.168.1.16;DATABASE=ISSUE_RPT;UID=bchd;PWD=Test1234" />
  </connectionStrings>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>